body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(131, 222, 115);
}

h1 {
    font-size: 16rem;
    font-family: 'Pangolin', cursive;
}

.letter {
    transform: color 1000ms;
}